<html lang="en">
<%-include('./partials/head.ejs')%>
<body>
<%- include('./partials/nav.ejs') %>

<div class="container">
  <div class="container-fluid mt-3">
    <h3>Basic Navbar Example</h3>
    <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
    <p>The navbar-expand-xxl|xl|lg|md|sm class determines when the navbar should stack vertically (on xxlarge, extra large, large, medium or small screens).</p>
  </div>
  
  <div class="blogs content">
    <h2>All Blogs</h2>
  
    <% if (blogs.length > 0) { %>
      <% blogs.forEach(blog => { %>
        
        <h3 class="title"><%= blog.title %></h3>
        <p class="snippet"><%= blog.snippet %></p>
       <% }) %>
      <% } else { %>
      <p>There are no blogs to display...</p>
      <% } %>
  </div>


<footer>
  <%- include('./partials/footer')%>
</footer>
</div>
</body>
</html>
